Repository facelessuser/ApplySyntax, pull requests merged in 2020-08, with the labels that each got.

#143 Add globmatch rule
  .github/FUNDING.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/pullrequest.yml
  .gitignore
  ApplySyntax.py
  ApplySyntax.sublime-settings
  CHANGES.md
  dependencies.json
  docs/src/dictionary/en-custom.txt
  docs/src/markdown/about/contributing.md
  docs/src/markdown/about/license.md
  docs/src/markdown/usage.md
  docs/src/requirements.txt
  docs/theme/announce.html
  messages.json
  messages/recent.md
  mkdocs.yml
  readme.md
  support.py
  tox.ini
Labels: C: docs, C: infrastructure, C: settings, C: source, S: approved

#144 Syntax helper features
  ApplySyntax.py
  ApplySyntax.sublime-settings
  CHANGES.md
  Default.sublime-commands
  docs/src/markdown/index.md
  docs/src/markdown/installation.md
  docs/src/markdown/usage.md
Labels: C: docs, C: settings, C: source, S: approved

#145 Normalize paths for regex patterns
  ApplySyntax.py
  ApplySyntax.sublime-settings
  CHANGES.md
  docs/src/markdown/usage.md
  messages/recent.md
Labels: C: docs, C: settings, C: source, S: approved

#146 Update usage.md Overview
  docs/src/markdown/usage.md
Labels: C: docs, S: approved
